.landingFooter {
  .footerContainer {
    @media screen and (min-width: 576px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      margin-left: 36px;
      margin-right: 36px;
    }

    @media screen and (min-width: 992px) {
      margin-left: 48px;
      margin-right: 48px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 64px;
      margin-right: 64px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1600px) {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .top {
    background-color: rgb(249, 249, 249, 0.3);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .grid {
      .leftCol {
        .footerTitle {
          font-weight: normal;
          color: #01172D;
        }

        .footerContent {
          margin-top: 0.6rem;

          .textContainer {
            gap: 0.5rem;
          }
        }

        .whatsappLink {
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
        }

        .address {
          .textContainer {
            width: 100%;

            .locationIcon {
              flex-shrink: 0;
            }
          }
        }

        .footerLinks {
          margin-top: 0.6rem;

          .site {
            gap: 0.5rem;
          }
        }
      }
    }
  }

  .bottom {
    background-color: transparent;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    .bottomText {
      >a {
        text-decoration: none;
        color: #00E1FF
      }

      .whiteLink {
        color: white;
      }
    }
  }
}