.tabsList {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.tabsTab {
  font-weight: 500;
  
  &[data-active] {
    border-color: var(--mantine-color-blue-6);
  }
}