.imageWrapper {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
        transparent,
        transparent 30%,
        rgba(255, 255, 255, 0.4));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: none;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }

  .slideTitle {
    position: absolute;
    border-radius: 0.5rem;
    width: max-content;
    bottom: 1.5rem;
    left: 1.5rem;
    color: white;
    font-size: 1.1rem;
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
  }
}