.landingHeader {
  height: 5rem;

  .logoLink {
    text-decoration: none;
  }

  .logoTitle {
    text-shadow: 0px 2px 4px #01172D;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: #00E1FF;
  }

  .navLink {
    font-weight: 500;
    font-size: 1.2rem;
    color: #F9F9F9;
    text-decoration: none;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .navLink:hover {
    text-shadow: 0px 1px 4px #FFFFFF;
    opacity: 0.9;
  }
}