.landingCarouselRoot {
  position: relative;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.slideWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .image {
    object-fit: contain;
  }
}