.videoContainer {
  position: relative;
  width: 100%;
  border-radius: 0.85rem;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.4s ease;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 0;
    backdrop-filter: blur(0);
  }

  .thumbnail {
    position: absolute;
    inset: 0;
    background-size: cover;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1.05);
    }
  }

  iframe {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}