.tabBarRoot {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  border-radius: 0.4rem;
  padding: 0.75rem;

  .tabList {
    display: flex;
    gap: 0.5rem;
  }

  .tab {
    background-color: transparent;
    border: none;
    min-width: 2.8rem;
    cursor: pointer;

    &:hover {
      .tabLabel {
        font-weight: bold;
      }
    }

    .tabLabel {
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: large;
      width: max-content;
    }

    &[data-active] {
      .tabLabel {
        color: black;
        font-weight: bold;
      }
    }
  }
}