.imageItem {
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;

  &.selected {
    border-color: var(--mantine-color-blue-6);
    border-width: 2px;
    background-color: var(--mantine-color-blue-0);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.fileName {
  word-break: break-word;
}