.customizedTourPageRoot {

  @media screen and (min-width: 576px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: 36px;
    margin-right: 36px;
  }

  @media screen and (min-width: 992px) {
    margin-left: 48px;
    margin-right: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 64px;
    margin-right: 64px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  padding: 1rem;
}

.backButton {
  background-color: transparent;
  color: white;
  padding: 0;
  text-decoration: none;
}

.backIcon {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
}

.pageTitle {
  flex: 1;
}