.landingContainer {
  max-width: 100%;

  @media screen and (min-width: 576px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: 36px;
    margin-right: 36px;
  }

  @media screen and (min-width: 992px) {
    margin-left: 48px;
    margin-right: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 64px;
    margin-right: 64px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .pageTitle {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #00E1FF;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  .pageSubtitle {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    color: white;
  }

  .seeMoreLink {
    font-size: 1.1rem;
    color: #00E1FF;
  }

  .sectionTitle {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    color: #00E1FF;
  }

  .sectionSubTitle {
    color: white;
    font-weight: normal;
  }

  .allToursLink {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    border-radius: 0.4rem;
    padding: 0.75rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;

    &:hover {
      background: rgba(255, 255, 255, 0.35);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    }
  }
}