.gridItemContainer {
  margin-bottom: 3rem;

  .exploreGroup {
    .exploreButton {
      background-color: rgb(255, 255, 255, 0.7);
      padding: 0.75rem;
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: conic-gradient(rgba(255, 255, 255, 0.9) 0deg,
            rgba(255, 255, 255, 0.4) 120deg,
            rgba(255, 255, 255, 0.9) 240deg);
        transition: all 0.6s ease;
        opacity: 0;
        transform: scale(0);
        z-index: 0;
      }

      &:hover {
        transform: rotate(2deg);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      }

      &:hover::before {
        opacity: 0.5;
        transform: scale(2);
      }

      span {
        position: relative;
        z-index: 1;
      }
    }

    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    border-radius: 0.85rem;
  }
}