.menuLink {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 8px 12px;
}

.homeLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
}

.divider {
  height: 1px;
  background-color: gray;
  margin-bottom: 8px;
}

.menuItem {
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .menuLabel {
    font-size: 1rem;
    font-weight: 400;
  }

  .menuLabelParent {
    font-size: 1rem;
    font-weight: 600;
  }
}