.yourInformationGroup {
  background-color: var(--vinaup-soft-gray);
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

.formInput {
  border-color: var(--vinaup-medium-gray);
}

.formLabel {
  font-size: 0.95rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
}