.imageWrapper {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
        transparent,
        transparent 30%,
        rgba(255, 255, 255, 0.4));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: none;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }

  .image {
    object-fit: cover;
  }
}

.itemTitleWrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  z-index: 2;

  .itemTitle {
    font-size: 1.5rem;
    color: #F9F9F9;
    text-shadow: 0px 4px 4px #01172D;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
}