.landingCarouselWrapper {
  position: relative;
  margin-bottom: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s ease;
    pointer-events: none;
    border-radius: 0.75rem;
  }

  &:hover::before {
    opacity: 0;
    backdrop-filter: blur(0);
  }
}

.landingCarousel {
  border-radius: 0.75rem;
  overflow: hidden;

  .slide {
    position: relative;
    background: linear-gradient(135deg, rgba(0, 225, 255, 0.2) 0%, rgba(3, 255, 22, 0.2) 100%);
  }

  .image {
    object-fit: cover;
  }

  .indicators {
    left: auto;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;

    .indicator {
      background-color: white;
      width: 0.5rem;
      height: 2rem;
    }
  }
}

.textBoxWrapper {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;

  .textBoxContainer {
    text-align: left;

    @media screen and (min-width: 576px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      margin-left: 36px;
      margin-right: 36px;
    }

    @media screen and (min-width: 992px) {
      margin-left: 48px;
      margin-right: 48px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 64px;
      margin-right: 64px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1600px) {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }

    .textBoxGroup {
      .title {
        color: #fff;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 0.5rem;

        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;

        @media screen and (max-width: 768px) {
          font-size: 2.4rem;
          line-height: 2.4rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 1.8rem;
          line-height: 1.8rem;
        }
      }

      .highlight {
        font-size: 2.8rem;
        font-weight: 600;
        color: #00E1FF;
        margin-bottom: 0.25rem;
        text-shadow:
          -1px -1px 0 rgba(0, 0, 0, 0.2),
          1px -1px 0 rgba(0, 0, 0, 0.2),
          -1px 1px 0 rgba(0, 0, 0, 0.2),
          1px 1px 0 rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 768px) {
          font-size: 2rem;
          line-height: 2rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
      }

      .subTitleText {
        color: #fff;
        font-weight: 400;
        font-size: 1.375rem;
        text-shadow: 0px 1px 4px #01172D;

        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
  }
}